<a href="{{ path('article_show', { 'id': article.id }) }}">
    <div class="block-article-event ">
        <img class="image-article-event"  src="{{ asset(upload_directory ~ article.picture) }}" alt="photo de l'article ou de l'événement" id="image_article_event">
        {% if article.event == 1 %}
            <div class="image-article-event-date">
                {{ article.dateevent|date('d M Y ')|upper }}
            </div>
        {% endif %}
        <div>
            {{ article.catchsentence }}
        </div>
    </div>
</a>