<div class="position-icon-right">
    <div>
        <a href="#"><img  class="icon-right" src="{{ asset('image/integrer-fb-1.png') }}" alt="facebook" class="circle"></a>
    </div>
    <div>
        <a href="#"><img class="icon-right" src="{{ asset('image/insta.png') }}" alt="insta" class="circle"></a>
    </div>
    <div>
        <a href="#"><img class="icon-right"src="{{ asset('image/mail.png') }}" alt="contact" class="circle"></a>
    </div>
</div>