@font-face {
  font-family: 'Bubbleboddy';
  src: url('/web/font/Bubbleboddy-ExtraLightTrial.ttf'),
  url('/web/font/Bubbleboddy-ExtraLightTrial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bubbleboddy';
  src: url('/web/font/Bubbleboddy-FatTrial.ttf'),
  url('/web/font/Bubbleboddy-FatTrial.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}