{% include "@FOSUser/Registration/register_content.html.twig" %}
{#
<div class="row">
    <div class="col-md-6">
        {{ render(controller('fos_user.security.controller:loginAction')) }}
    </div>
    <div class="col-md-6">
        {{ render(controller('fos_user.registration.controller:registerAction')) }}
    </div>
</div>
#}