{% extends 'base.html.twig' %}

{% block body %}
    <div id="filter">
        <label for="listing-choice">recherche par :</label>
        <select id="listing-choice">
            <option value="">test</option>
            <option value="list_all_not_valid">à modérer</option>
            <option value="list_user_not_valid_index">compte à modérer</option>
            <option value="list_article_not_valid_index">article évènement à modérer</option>
            <option value="list_article_valid_index">article évènement validé</option>
            <option value="list_user_valid_index">compte validé</option>
        </select>
    </div>
    <div id="element-container">

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

